---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="max-w-[720px] mx-auto">
    <div class="w-full">
      {
        heroImage && (
          <Image
            class="block mx-auto rounded-xl"
            width={1020}
            height={510}
            src={heroImage}
            alt=""
          />
        )
      }
    </div>
    <div class="mx-auto p-4">
      <div
        class="mb-4 text-lg font-light tracking-semi-wide text-center leading-none"
      >
        <div class="mb-3 text-gray-500">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div>
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1
          class="font-mono font-bold text-[3rem] leading-[1.2em] tracking-semi-wide mx-auto text-black dark:text-white"
        >
          {title}
        </h1>
        <hr class="my-8" />
      </div>
      <div
        class="prose prose-lg mx-auto font-light tracking-semi-wide leading-6"
      >
        <slot />
      </div>
    </div>
  </article>
</BaseLayout>